@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Fauna+One&display=swap');

button {
  cursor: pointer;
}

.landingPageWrapper {
  background: #af877d;
  height: 48rem;
  text-align: center;
}

#blockColorblindContent {
  display: none;
}
