.App {

}

.loginContainerWrapper {
  background-image: url("https://i.postimg.cc/L8d4zrqN/owen-lystrup-chaq-HXl-Oz-Ys-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 48rem;
  justify-content: center;
}

.loginContainer {
  background: rgba(0, 0, 0, .7);
  color: white;
  margin: 2rem;
  text-align: center;
  width: 50rem;
}

button {
  cursor: pointer;
}

#blockColorblindContent {
  display: none;
}
