
.header {
  font-size: 7rem;
  font-family: 'Cinzel', serif;
}

.subHeaderOne {
  font-family: 'Fauna One', serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.subHeaderTwo {
  font-family: 'Fauna One', serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0 1rem;
}
