.UserLogin {

}

.UserLoginTitle {
  text-decoration: underline;
}

.UserLoginBtn {
  background: #af877d;
  color: black;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  padding: .4rem 3rem;
}

input {
  background: inherit;
  margin: .5rem;
  padding: .5rem;
}
