.userLoginWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.UserLoginTitle {
  font-family: 'Fauna One', serif;
  font-size: 1.28rem;
  margin: 1rem;
  text-decoration: underline;
}

.singInButton {
  background: #af877d;
  border: none;
  font-family: 'Fauna One', serif;
  font-size: 1rem;
  margin: 1rem;
  padding: .5rem;
  text-decoration: none;
  width: 8rem;
}

input {
  background: inherit;
  color: white;
  font-family: 'Fauna One', serif;
  font-size: 1rem;
  font-weight: bold;
  margin: .5rem;
  padding: .5rem .5rem .5rem 1rem;
}
