.userStayTypeWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.stayTypeHeader {
  font-family: 'Fauna One', serif;
  font-size: 1.28rem;
  margin-bottom: 1rem;
}

.stayTypes {
  background: #6c393a;
}

.buisnessBtn,
.vacationBtn,
.otherBtn {
  background: #6c393a;
  border: none;
  color: white;
  font-family: 'Fauna One', serif;
  font-size: 1rem;
  margin: .3rem;
  padding: .3rem 1rem;
}

img {
  display: flex;
  margin: .5rem 0;
  width: 4rem;
}
