.propertyContainer {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  height: 35rem;
  margin: 2.5rem;
}

.propertyNameContainer {
  align-items: center;
  display: flex;
  height: 6.5rem;
}

.propertyName {
  font-family: 'Fauna One', serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.propertyImageContainer {
  align-items: center;
  display: flex;
  height: 25rem;
  justify-content: center;
}

.defaultListingImage {
  height: 100%;
  width: 30rem;
}

.moreDetailsBtn {
  border: .1rem solid black;
  color: black;
  font-family: 'Fauna One', serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  padding: .5rem;
  text-decoration: none;
}
