.listingPhotos {
  align-items: center;
  background: #602f33;
  display: flex;
  height: 35rem;
  justify-content: flex-start;
  overflow: scroll;
  padding: 1rem;
  width: 100%;
}

.listingImage {
  padding: 1rem;
  width: auto;
  height: 96%;
}
