.listingDetailsContainer {
  background: #602f33;
  border: .1rem solid black;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  justify-content: flex-start;
  margin: 1rem;
  padding: 1rem;
  width: 88rem;
}

.blah {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90rem;
}


.allListingDetails {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 30rem;
  margin-bottom: 4rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

.allFavoriteListings {
  border: 2px solid green;
  display: flex;
}
