.listingDetailsContainer {
  background: #602f33;
  border: .1rem solid black;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  justify-content: flex-start;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.listingDetailsWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.allListingDetails {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 30rem;
  margin-bottom: 4rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

.allFavoriteListings {
  background: #602f33;
  border: 2px solid black;
  display: flex;
  margin: 2rem;
}

.noFavoritesMessage {
  font-family: 'Fauna One', serif;
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}
