.listingDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.allListingDetails {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: 30rem;
  margin-bottom: 4rem;
  margin-left: 5rem;
  margin-top: 2rem;
}
